<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Christian Olsen | Software Developer</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="icon" href="/css/assets/logo2.png" sizes="30x30">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
</head>

<body>
  <!--Nav-->
  <header>
    <nav>
      <div class="logo">
        <img src="/css/assets/logo2.png" height="50px;" width="50px;" alt="logo">
      </div>
      <ul>
        <li class="nav-links"><a href="/#about">About</a></li>
        <li class="nav-links"><a href="/#projects">Projects</a></li>
        <li class="nav-links"><a href="/#contact">Contact</a></li>
      </ul>
    </nav>
  </header>

  <!--Cover page-->
  <div class="fade-in">
    <h2 class="intro">Hi, I'm Christian Olsen.</h2>
    <p class="intro-p">I'm a full-stack developer, and I'm ready to help you
      perfect your next web app.</p>
    <button class="contact-button"><a href="/#contact">Contact Me</a></button>
  </div>
  <hr class="cover-page-hr">

  <!-- About me -->
  <div class="aboutme-container" id="about">
    <div class="about-me">
      <h3>About Me</h3>
      <p>Since graduating from college in 2018, I have been working in the
        defense industry at Northrop Grumman. I have spent
        my free time practicing web development. In that time I have
        learned the skills necessary to build user-friendly interfaces
        that run smoothly and enhance user experience.
        I have experience in a wide range of projects, from designing
        visually pleasing landing pages, to building fully functional
        progressive web apps with React.</p>

      <p>At the same time I recognize that my skillset is still growing,
        and I would love the opportunity to work with and learn from other
        developers as I continue to grow. In my current career I have
        developed the extensive analytical and interpersonal skills necessary to succeed
        as a software developer. I work daily with professionals from other disciplines
        and have learned to turn somewhat ambiguous requests into carefully crafted plans
        that give the end-user what they need on time. I currently live in the Baltimore
        area but am looking to relocate.</p>
    </div>
    <div class="selfpic"><img src="/css/assets/self-pic.jpg" alt=""></div>
  </div>

  <!--Skills-->
  <div class="skills-background">
    <h3 class="my-skills">My Skills</h3>
    <div class="skills-container">
      <div class="webdev">
        <p><strong>Web Development</strong></p>
        <p>I have a passion for creating smooth and cohesive sites that
          give the user a satisfying experience. I am well-versed in HTML, CSS,
          and JavaScript (with an emphasis on the React framework). I have also supplemented
          these skills with knowledge of git version control and node.js to maximize
          the tools at my disposal.</p>
      </div>
      <div class="design">
        <p><strong>Full-Stack Development</strong></p>
        <p>I have experience creating full-stack applications that use node.js, express.js and databases like firebase or MongoDB to store and retrieve data. I am confident in my ability to see a full-stack project through from start to finish and provide insight that I have gained from many hours of troubleshooting my own projects. </p>
      </div>
      <div class="userexp">
        <p><strong>User Experience</strong></p>
        <p>It's extremely important to keep the user in mind when creating applications. Everything I create is responsive across different device sizes. I take pride in my ability to design applications that easily bring users to their solution with a clear,
          easily interpreted UX that creates solutions rather than raising more
          problems.</p>
      </div>
      <div class="team">
        <p><strong>Teamwork</strong></p>
        <p>I have been working in teams everyday
          during my 2 years in the defense industry. I've
          learned the skills of collaboration, cross-functional
          work, and individual goal setting to meet the needs
          of the team. Beyond that I have also learned to interpret
          stakeholder requests and formulate my own plan to meet their
          needs.</p>
      </div>
    </div>
  </div>

  <!--Tools-->
  <div class="tools-page-bg">
    <div class="tools-page">
      <div>
        <h3>Tools I Use</h3>
        <div class="tools">
          <div class="tools-icons">
            <i class="fab fa-html5 fa-3x" style="color: #F59128;"></i><br>
            HTML5
          </div>
          <div class="tools-icons">
            <i class="fab fa-css3-alt fa-3x" style="color: #2F97E5;"></i><br>
            CSS3
          </div>
          <div class="tools-icons">
            <i class="fab fa-js-square fa-3x" style="color: #F5D628;"></i><br>
            JavaScript
          </div>
          <div class="tools-icons">
            <i class="fab fa-react fa-3x" style="color: #23D6F0;"></i><br>
            React.js
          </div>
          <div class="tools-icons">
            <i class="fab fa-node fa-3x" style="color: #54DC3B;"></i><br>
            Node.js
          </div>
          <div class="tools-icons">
            <img src="https://img.icons8.com/color/48/000000/redux.png" alt="Redux logo" /><br>
            Redux
          </div>
          <div class="tools-icons">
            <img src="https://img.icons8.com/color/48/000000/firebase.png" alt="Firebase logo" /><br>
            Firebase
          </div>
          <div class="tools-icons">
            <img src="https://img.icons8.com/color/48/000000/mongodb.png" alt="MongoDB logo" /><br>
            MongoDB
          </div>
          <div class="tools-icons">
            <i class="fab fa-git-alt fa-3x" style="color: #F0440E;"></i><br>
            Git
          </div>
        </div>
      </div>

      <div>
        <h3>Additional Knowledge</h3>
        <div class="knowledge">
          <div class="knowledge-items">RESTful API</div>
          <div class="knowledge-items">React Hooks</div>
          <div class="knowledge-items">Context API</div>
          <div class="knowledge-items">ES2019</div>
          <div class="knowledge-items">Postman</div>
          <div class="knowledge-items">Redux Devtools</div>
          <div class="knowledge-items">Material UI</div>
          <div class="knowledge-items">Node + npm</div>
        </div>
      </div>
    </div>
    <div class="resume">
      <button><a href="/css/assets/christian_olsen20.pdf">My Resume</a></button>
    </div>
  </div>

  <!--Portfolio-->
  <div class="project-container" id="projects">
    <div class="projects-header-container">
      <h3 class="projects-header">Projects</h3>
    </div>
    <div class="project1">
      <img src="/css/assets/project1b.jpg" alt="project screenshot">
      <div class="title-buttons">
        <h1>MyBook</h1>
        <div class="view-buttons">
          <button><a href="https://social-media-6126c.web.app/">View</a></button>
          <button><a href="https://github.com/colsen12/MyBook">Repo</a></button>
        </div>
      </div>
      <div>
        <p class="project-description">
          A social media app using React and Node.js with a fully functional front and back end, and data stored in Firebase. Users have the ability to create accounts, like, post, comment, and view other profiles.
        </p>
      </div>
      <div class="technologies-container">
        <ul class="technologies">
          <li>HTML</li>
          <li>CSS</li>
          <li>Material UI</li>
          <li>JavaScript</li>
          <li>React</li>
          <li>Redux</li>
          <li>Node.js</li>
          <li>Firebase</li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="project2">
      <img src="/css/assets/project2a.jpg" alt="project screenshot">
      <div class="title-buttons">
        <h1>Ekiben</h1>
        <div class="view-buttons">
          <button><a href="https://colsen12.github.io/Ekiben/">View</a></button>
          <button><a href="https://github.com/colsen12/Ekiben">Repo</a></button>
        </div>
      </div>
      <p class="project-description">A static landing page inspired by one of my favorite
        local restaurants.</p>
      <ul class="technologies">
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
      </ul>
    </div>
    <hr>
    <div class="project3">
      <img src="/css/assets/project3a.jpg" alt="project screenshot">
      <div class="title-buttons">
        <h1>Recipe App</h1>
        <div class="view-buttons">
          <button><a href="https://colsen12.github.io/React-Recipe/">View</a></button>
          <button><a href="https://github.com/colsen12/React-Recipe">Repo</a></button>
        </div>
      </div>
      <p class="project-description">A recipe app using React hooks which allows the user to search for dishes based on their main ingredients. Search results are returned from the Edamam API and displayed with links for step-by-step recipes.</p>
      <ul class="technologies">
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>React</li>
        <li>Edamam API</li>
      </ul>
    </div>
    <hr>
  </div>

  <div class="see-more-container">
    <button class="see-more-button">
      <a href="https://github.com/colsen12">See More of My Work</a>
    </button>
  </div>

  <form action="submit" class="contact-form" id="contact">
    <h3>Contact Me</h3>
    <label for="email">Your Email</label>
    <input type="email" class="contact-input" id="email"><br>
    <label for="subject">Subject</label>
    <input type="text" class="contact-input" id="subject"><br>
    <label for="text">Message</label>
    <textarea name="text" id="text" cols="30" rows="10"></textarea>
    <input type="submit" class="contact-submit">
  </form>
  <hr class="last-hr">
  <footer>
    <a href="#">
      <i class="fas fa-home"></i>
    </a>
    <a href="mailto:colsen788@gmail.com">
      <i class="far fa-envelope"></i>
    </a>
    <a href="https://github.com/colsen12">
      <i class="fab fa-github-square"></i>
    </a>
    <a href="https://www.linkedin.com/in/christian-olsen-6284a7125/">
      <i class="fab fa-linkedin"></i>
    </a>
  </footer>

  <script>
    $('form').on('submit', e => {
      e.preventDefault();
      const email = $('#email').val().trim();
      const subject = $('#subject').val().trim();
      const text = $('#text').val().trim();
      const data = {
        email,
        subject,
        text
      };
      $.post('/email', data, function() {
        console.log('Server received data');
        $('#email').val("");
        $('#subject').val("");
        $('#text').val("");
      });
    });
  </script>

</body>

</html>